.menu_panel			{ background: #0066CC url(/images/bg/menu_bg.gif) repeat-y; width: 225px; }
.ctrl_panel			{ background: #FFFFFF; }
.head_panel			{ background: #609CED url(/images/bg/header_bg.gif) repeat-x; height: 105px; }
.foot_panel			{ background: #609CED url(/images/bg/footer_bg.gif) repeat-x; height: 30px; }
.foot_panel_2		{ background: url(/images/bg/footer_bg_2.gif) no-repeat center; text-align: center; font: 12px sans-serif; height: 19px; padding-bottom: 2px; }

table.auth 			{ border-spacing: 0; border-right: 0 solid black; border-bottom: 0 solid black; width: 300px; }
table.auth td		{ border-left: 0 solid black; border-top: 0 solid black; padding: 2px; }
.username			{ font: 12px verdana, sans-serif; width: 200px; padding: 3px 5px; }
.password			{ font: 12px verdana, sans-serif; width: 200px; padding: 3px 5px; }
.auth_text  		{ font: bold 13px verdana, sans-serif; width: 100px; text-align: right; }
.auth_submit		{ font: bold 14px verdana, sans-serif; width: 200px; height: 30px; }
.auth_key  		    { color: darkgrey; font: 11px verdana, sans-serif; text-align: center; }
.auth_warning	    { color: red; font: bold 13px verdana, sans-serif; text-align: center; }
a:link.guest,
a:visited.guest 	{ color: #185DA2; font: bold 13px verdana, sans-serif; text-decoration: none; }
a:hover.guest 		{ color: #185DA2; font: bold 13px verdana, sans-serif; text-decoration: underline; }

.device_name		{ font: 20px verdana, sans-serif; text-align: center; padding-top: 20px; padding-bottom: 20px; }
.title				{ font: 22px verdana, sans-serif; text-align: center; padding: 20px; }
.sig 				{ font: 11px verdana, sans-serif; text-align: left; padding: 4px 0 0 0; }
.text  				{ font: 13px sans-serif; }

.max_devices_reached  { font: italic 12px sans-serif; text-align: center; }

.menu_centre_name	{ font: bold 12px verdana, sans-serif; padding-top: 0; padding-left: 20px; color: white; text-align: left; }
.menu_time			{ font: 11px verdana, sans-serif; padding-top: 0; padding-left: 20px; color: white; text-align: left; }

.header  			{ font: bold 13px sans-serif; text-align: center; height: 45px; background-color: #E4E4E4; }

select.combobox 	{ padding: 1px 2px; }
input.ip 			{ padding: 1px 2px; text-align: center; border: 1px solid black; width: 150px; }
input.id 			{ padding: 1px 2px; text-align: center; border: 1px solid black; }
input.int 			{ padding: 1px 2px; text-align: right; border: 1px solid black; }
input.text 			{ padding: 1px 2px; text-align: left; border: 1px solid black; }
input.checkbox 		{ }
input.radiobox 		{ }
input.mini_ip		{ text-align: center; border: 1px solid black; width: 120px; height: 19px; }

.submit     		{ padding-top: 20px; padding-bottom: 20px; text-align: center; }
.button     		{ padding-top: 20px; padding-bottom: 15px; text-align: center; }
.medium_button 		{ font: bold 13px verdana, sans-serif; padding: 0; margin: 0; text-align: center; height: 30px; }
.submit_single 		{ font: bold 13px verdana, sans-serif; padding: 0; margin: 0; text-align: center; height: 30px; width: 200px; }
.submit_twice 		{ font: bold 13px verdana, sans-serif; padding: 0; margin: 0; text-align: center; height: 30px; width: 300px; }

.status 		{ text-align: center; height: 32px; }
.validator 		{ position: absolute; background: #FFFFC4; color: red; font-size: 14px; padding: 10px; }
.error 			{ font: bold 12px sans-serif; text-align: center; color: #850000; background-color: #FFC0CB; }
.success		{ font: bold 12px sans-serif; text-align: center; color: #006C15; background-color: #A4FFB6; }

td.no_values	{ font: bold 13px sans-serif; text-align: center; background-color: #EFF7F9; height: 45px; }

tr.even 		{ background-color: #EFF7F9; }
tr.odd 			{ background-color: #FFFFFF; }
tr.red 			{ background-color: #FFC0CB; }

td.name  		{ font: bold 14px verdana, sans-serif; text-align: left; }
td.value  		{ font: 12px verdana, sans-serif; text-align: left; }
td.value_fix	{ font: bold 17px sans-serif; text-align: center; }

div.report  	{ font: 14px "Courier New", Courier, monospace; }

.exciters 		{ font: 13px sans-serif; text-align: center; padding: 0 0 20px 0; }
.debug_info		{ font: bold 12px sans-serif; color: #FFFFFF; padding-top: 15px; padding-left: 0; }

table.print 			{ border-spacing: 0; border-right: 0 solid black; border-bottom: 0 solid black; }
table.print td			{ border-left: 0 solid black; border-top: 0 solid black; padding: 0 10px 0 0; }
.print_icon 			{ text-align: center; width: 32px; }
.print_value 			{ text-align: left; }
a:link.print_link,
a:visited.print_link 	{ color: #185DA2; font: bold 13px verdana, sans-serif; text-decoration: none; }
a:hover.print_link 		{ color: #185DA2; font: bold 13px verdana, sans-serif; text-decoration: underline; }

a:link,
a:visited 				{ color: blue; font: 13px sans-serif; text-decoration: none; }
a:hover 				{ color: blue; font: 13px sans-serif; text-decoration: underline; }

a:link.button,
a:visited.button,
a:hover.button 			{ text-decoration: none; }

a:link.menu_section,
a:visited.menu_section 	{ color: #FFFFFF; font: 18px sans-serif; text-decoration: none; }
a:hover.menu_section	{ color: #1E90FF; font: 18px sans-serif; text-decoration: none; }
div.menu_section		{ padding-top: 12px; }

a:link.menu,
a:visited.menu 			{ color: #FFFFFF; font: bold 13px sans-serif; text-decoration: none; }
a:hover.menu 			{ color: #1E90FF; font: bold 13px sans-serif; text-decoration: none; }
div.menu				{ padding-top: 7px; padding-left: 25px; }

a:link.submenu,
a:visited.submenu 		{ color: #FFFFFF; font: bold 12px sans-serif; text-decoration: none; }
a:hover.submenu 		{ color: #1E90FF; font: bold 12px sans-serif; text-decoration: none; }
div.submenu				{ padding-top: 5px; padding-left: 50px; }

a:link.page,
a:visited.page 			{ color: #185DA2; font-weight: bold; text-decoration: none; }
a:hover.page 			{ color: #DD6900; font-weight: bold; text-decoration: none; }

a:link.link,
a:visited.link 			{ color: #185DA2; font: bold 13px sans-serif; text-decoration: none; }
a:hover.link 			{ color: #185DA2; font: bold 13px sans-serif; text-decoration: underline; }

table.simple 			{ border-spacing: 0; border-right: 1px solid black; border-bottom: 1px solid black; width: 100%; }
table.simple td			{ border-left: 1px solid black; border-top: 1px solid black; padding: 10px; }

.ajax_loading 			{ text-align: center; padding: 0; height: 20px; }

strong.inactive			{ color: #C6CBC6; }

table.messages_table 	{ border-spacing: 0; border-right: 1px solid black; border-bottom: 1px solid black; width: 100%; }
table.messages_table td { border-left: 1px solid black; border-top: 1px solid black; padding: 10px; }
td.status_msg_indicator { text-align: center; width: 8%; height: 60px; }
td.status_msg_value 	{ font: bold 13px verdana, sans-serif; text-align: left; width: 92%; height: 60px; }

table.param_table 		{ border-spacing: 0; border-right: 1px solid black; border-bottom: 1px solid black; width: 100%; }
table.param_table td	{ border-left: 1px solid black; border-top: 1px solid black; padding: 10px; }
td.param_indicator 		{ text-align: center; height: 32px; }

table.invisible 		{ border-spacing: 0; border-right: 0 solid black; border-bottom: 0 solid black; width: 100%; }
table.invisible td		{ border-left: 0 solid black; border-top: 0 solid black; padding: 0; }

table.loadbar 			{ border-spacing: 0; border-right: 0 solid black; border-bottom: 0 solid black; width: 100%; }
table.loadbar td		{ border-left: 0 solid black; border-top: 0 solid black; padding: 0 5px 0 5px; }

td.server_name  		{ font: bold 12px verdana, sans-serif; text-align: left; }
td.server_value 		{ font: 12px verdana, sans-serif; text-align: left; }

table.info 				{ border-spacing: 0; border-right: 1px solid black; border-bottom: 1px solid black; width: 100%; }
table.info td			{ border-left: 1px solid black; border-top: 1px solid black; padding: 8px; }

table.pages_list_table 		{ border-spacing: 0; border: 0; width: 100%; }
table.pages_list_table td	{ padding: 5px; }
td.pages_list_left_block	{ font: 12px Verdana, "Geneva CY", "DejaVu Sans", sans-serif; text-align: right; width: 37%; }
td.pages_list_center_block	{ font: 12px Verdana, "Geneva CY", "DejaVu Sans", sans-serif; text-align: center; width: 26%; }
td.pages_list_right_block	{ font: 12px Verdana, "Geneva CY", "DejaVu Sans", sans-serif; text-align: left; width: 37%; }

td.xml_value 		{ font: bold 16px sans-serif; text-align: center; }

table.busy 			{ border-spacing: 0; border-right: 0 solid black; border-bottom: 0 solid black; width: 100%; }
table.busy td		{ border-left: 0 solid black; border-top: 0 solid black; padding: 15px 0 10px 0; }

table.busy_left 	{ border-spacing: 0; border-right: 0 solid black; border-bottom: 0 solid black; width: 100%; }
table.busy_left td 	{ border-left: 0 solid black; border-top: 0 solid black; padding: 0 3px 0; }

a:link.more,
a:visited.more 			{ color: #185DA2; font: bold 13px verdana, sans-serif; text-decoration: none; }
a:hover.more 			{ color: #185DA2; font: bold 13px verdana, sans-serif; text-decoration: underline; }
span.more				{ color: #185DA2; font: bold 13px verdana, sans-serif; }

a:link.web,
a:visited.web 			{ color: #185DA2; font: bold 14px verdana, sans-serif; text-decoration: none; }
a:hover.web 			{ color: #185DA2; font: bold 14px verdana, sans-serif; text-decoration: underline; }