/********************************* SATURN */
/*
	Глобальные стили.
*/

/* Группа стилей для текстовых полей ввода (тег один: input, а тип содержимого разный). */
input.saturn-ip {
	text-align: center;
	width: 150px;
}
input.saturn-id {
	text-align: center;
}
input.saturn-integer {
	text-align: right;
}
input.saturn-float {
	text-align: right;
}
input.saturn-text {
	text-align: left;
}

/* Группа стилей для настроек порогов. */
input.limit {
	background-color: #FFFFFF;
	text-align: right;
}
input.limit-info {
	background-color: #BDE5F8;
	text-align: right;
}
input.limit-normal {
	background-color: #8DCC66;
	text-align: right;
}
input.limit-warning {
	background-color: #FEEFB3;
	text-align: right;
}
input.limit-failure {
	background-color: #FFC8CA;
	text-align: right;
}

/* Группа стилей для универсальных заголовков. */
div.skathi {
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 25px;
	text-align: center;
}
div.narvi {
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 21px;
	text-align: center;
}
div.skoll {
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 17px;
	text-align: center;
}
div.loge {
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 13px;
	text-align: center;
}

/* Стиль для failure-значения внутри ячейки таблицы. */
table td div.meteor, table td span.meteor {
	color: red;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

/* Стиль для warning-значения внутри ячейки таблицы. */
table td div.sun, table td span.sun {
	color: #C05500;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
/********************************* END of SATURN */

/********************************* PANDORA */
/*
	Отображение сложных таблиц: с ссылками, изображениями, с выделением некорректных строк.
   	На август 2016 г. это только две таблицы: "Устройства" и "Универсальные туннели".
*/
table.pandora {
	border-radius: 10px;
	border-spacing: 0;
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-size: 13px;
	padding: 0;
	text-align: center;
	width: 100%;
}
table.pandora tr.pandora-row-std td {
	background: #D8E6F3;
}
table.pandora tr.pandora-row-std:hover td {
	background: #AFCDE7;
}
table.pandora tr.pandora-row-bad td {
	background: #FFC0CB;
}
table.pandora tr.pandora-row-bad:hover td {
	background: #FF889D;
}
table.pandora tr.pandora-row-err td {
	background: #FFC0CB;
}
table.pandora th, table.pandora td {
	border-color: white;
	border-style: solid;
	border-width: 0 1px 1px 0;
}
table.pandora th {
	background: #81C5FF;
	font-weight: bold;
	padding: 10px;
}
table.pandora td {
	height: 39px;
}
table.pandora td a {
	color: black;
	display: block;
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
}
table.pandora td a:hover {
	color: black;
	text-decoration: none;
}
table.pandora td a:visited 	{
	color: black;
}
table.pandora td a.pandora-text {
	padding: 10px;
}
table.pandora td a.pandora-image {
	padding: 3px 5px;
}
table.pandora td a.pandora-name {
	font-weight: bold;
}
table.pandora tr:first-child th:first-child {
	border-top-left-radius: 10px;
}
table.pandora tr:first-child th:last-child {
	border-right: 0;
	border-top-right-radius: 10px;
}
table.pandora tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
table.pandora tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}
table.pandora tr td:last-child {
	border-right: 0;
}
table.pandora tr:last-child td {
	border-bottom: 0;
}
/********************************* END of PANDORA */

/********************************* TITAN */
/*
	Отображение двухколоночных таблиц с параметрами и контролами.
	Основной стиль большинства таблиц.
*/
table.titan {
	border-radius: 10px;
	border-spacing: 0;
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 13px;
	width: 100%;
}
table.titan th, table.titan td {
	border-color: white;
	border-style: solid;
	border-width: 0 1px 1px 0;
}
table.titan th {
	background: #81C5FF;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
table.titan td {
	background: #D8E6F3;
}
table.titan tr:hover td {
	background: #AFCDE7;
}
table.titan td:first-child {
	font-weight: bold;
	padding: 6px 11px;
	text-align: left;
	width: 50%;
}
table.titan td:last-child {
	padding: 6px 11px;
	text-align: left;
	width: 50%;
}
table.titan tr:first-child th:first-child {
	border-top-left-radius: 10px;
}
table.titan tr:first-child th:last-child {
	border-right: 0;
	border-top-right-radius: 10px;
}
table.titan tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
table.titan tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}
table.titan tr td:last-child {
	border-right: 0;
}
table.titan tr:last-child td {
	border-bottom: 0;
}
table.titan td.titan-error {
	background: #FFC0CB;
	color: #850000;
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}
table.titan td.titan-error:hover {
	background: #FFC0CB;
}
table.titan input[type="text"], table.titan input[type="password"], table.titan textarea {
	border: 1px solid black;
	border-radius: 5px;
	font-family: inherit;
	font-size: 12px;
	padding: 2px 4px;
}
table.titan input[type="text"]:focus, table.titan input[type="password"]:focus, table.titan textarea:focus {
	background: #FAFAD2;
	border: 1px solid #66AFE9;
	box-shadow: 0 0 10px #66AFE9;
	outline: none;
}
table.titan input[type="checkbox"] {

}
table.titan select {
	font-family: inherit;
	font-size: 12px;
	padding: 0;
}
table.titan select:focus {
	outline: none;
}
/********************************* END of TITAN */

/********************************* MIMAS */
/*
	Отображение много-колоночных таблиц с параметрами и контролами,
	где все столбцы однотипны и равноправны, а значения в ячейках выровнены по центру.
	Разная ширина у каждого столбца.
*/
table.mimas {
	border-radius: 10px;
	border-spacing: 0;
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 13px;
	width: 100%;
}
table.mimas th, table.mimas td {
	border-color: white;
	border-style: solid;
	border-width: 0 1px 1px 0;
	padding: 10px;
	text-align: center;
}
table.mimas th {
	background: #81C5FF;
	font-weight: bold;
}
table.mimas td {
	background: #D8E6F3;
}
table.mimas tr:hover td {
	background: #AFCDE7;
}
table.mimas tr:first-child th:first-child {
	border-top-left-radius: 10px;
}
table.mimas tr:first-child th:last-child {
	border-right: 0;
	border-top-right-radius: 10px;
}
table.mimas tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
table.mimas tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}
table.mimas tr td:last-child {
	border-right: 0;
}
table.mimas tr:last-child td {
	border-bottom: 0;
}
table.mimas td.mimas-error {
	background: #FFC0CB;
	color: #850000;
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}
table.mimas td.mimas-error:hover {
	background: #FFC0CB;
}
table.mimas input[type="text"], table.mimas input[type="password"], table.mimas textarea {
	border: 1px solid black;
	border-radius: 5px;
	font-family: inherit;
	font-size: 12px;
	padding: 2px 4px;
}
table.mimas input[type="text"]:focus, table.mimas input[type="password"]:focus, table.mimas textarea:focus {
	background: #FAFAD2;
	border: 1px solid #66AFE9;
	box-shadow: 0 0 10px #66AFE9;
	outline: none;
}
table.mimas input[type="checkbox"] {

}
table.mimas select {
	font-family: inherit;
	font-size: 12px;
	padding: 0;
}
table.mimas select:focus {
	outline: none;
}
/********************************* END of MIMAS */

/********************************* ENCELADUS */
/*
	Отображение много-колоночных таблиц с параметрами и контролами,
	где все столбцы, кроме первого, однотипны и равноправны, а значения в ячейках выровнены по центру (в первом столбце - по левому краю).
	Разная ширина у каждого столбца.
*/
table.enceladus {
	border-radius: 10px;
	border-spacing: 0;
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 13px;
	width: 100%;
}
table.enceladus th, table.enceladus td {
	border-color: white;
	border-style: solid;
	border-width: 0 1px 1px 0;
}
table.enceladus th {
	background: #81C5FF;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
table.enceladus td {
	background: #D8E6F3;
	padding: 6px 11px;
}
table.enceladus tr:hover td {
	background: #AFCDE7;
}
table.enceladus td:first-child {
	font-weight: bold;
	text-align: left;
}
table.enceladus td:nth-child(n+2) {
	text-align: center;
}
table.enceladus tr:first-child th:first-child {
	border-top-left-radius: 10px;
}
table.enceladus tr:first-child th:last-child {
	border-right: 0;
	border-top-right-radius: 10px;
}
table.enceladus tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
table.enceladus tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}
table.enceladus tr td:last-child {
	border-right: 0;
}
table.enceladus tr:last-child td {
	border-bottom: 0;
}
table.enceladus td.enceladus-error {
	background: #FFC0CB;
	color: #850000;
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}
table.enceladus td.enceladus-error:hover {
	background: #FFC0CB;
}
table.enceladus input[type="text"], table.enceladus input[type="password"], table.enceladus textarea {
	border: 1px solid black;
	border-radius: 5px;
	font-family: inherit;
	font-size: 12px;
	padding: 2px 4px;
}
table.enceladus input[type="text"]:focus, table.enceladus input[type="password"]:focus, table.enceladus textarea:focus {
	background: #FAFAD2;
	border: 1px solid #66AFE9;
	box-shadow: 0 0 10px #66AFE9;
	outline: none;
}
table.enceladus input[type="checkbox"] {

}
table.enceladus select {
	font-family: inherit;
	font-size: 12px;
	padding: 0;
}
table.enceladus select:focus {
	outline: none;
}
table.enceladus a {
	color: #185DA2;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
}
/********************************* END of ENCELADUS */

/********************************* PROMETHEUS */
/*
	Отображение много-колоночных таблиц с параметрами и контролами.
	Разная ширина у каждого столбца.
	ВСЕ ячейки выровнены по левому краю.
*/
table.prometheus {
	border-radius: 10px;
	border-spacing: 0;
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 13px;
	width: 100%;
}
table.prometheus th, table.prometheus td {
	border-color: white;
	border-style: solid;
	border-width: 0 1px 1px 0;
}
table.prometheus th {
	background: #81C5FF;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
table.prometheus td {
	background: #D8E6F3;
	padding: 6px 11px;
}
table.prometheus tr:hover td {
	background: #AFCDE7;
}
table.prometheus td:first-child {
	font-weight: bold;
	text-align: left;
}
table.prometheus td:nth-child(n+2) {
	text-align: left;
}
table.prometheus tr:first-child th:first-child {
	border-top-left-radius: 10px;
}
table.prometheus tr:first-child th:last-child {
	border-right: 0;
	border-top-right-radius: 10px;
}
table.prometheus tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
table.prometheus tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}
table.prometheus tr td:last-child {
	border-right: 0;
}
table.prometheus tr:last-child td {
	border-bottom: 0;
}
table.prometheus td.prometheus-error {
	background: #FFC0CB;
	color: #850000;
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}
table.prometheus td.prometheus-error:hover {
	background: #FFC0CB;
}
table.prometheus input[type="text"], table.prometheus input[type="password"], table.prometheus textarea {
	border: 1px solid black;
	border-radius: 5px;
	font-family: inherit;
	font-size: 12px;
	padding: 2px 4px;
}
table.prometheus input[type="text"]:focus, table.prometheus input[type="password"]:focus, table.prometheus textarea:focus {
	background: #FAFAD2;
	border: 1px solid #66AFE9;
	box-shadow: 0 0 10px #66AFE9;
	outline: none;
}
table.prometheus input[type="checkbox"] {

}
table.prometheus select {
	font-family: inherit;
	font-size: 12px;
	padding: 0;
}
table.prometheus select:focus {
	outline: none;
}
/********************************* END of PROMETHEUS */

/********************************* TETHYS */
/*
	Отображение таблиц сообщений.
*/
table.tethys {
	border-radius: 10px;
	border-spacing: 0;
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 13px;
	width: 100%;
}
table.tethys th, table.tethys td {
	border-color: white;
	border-style: solid;
	border-width: 0 1px 1px 0;
}
table.tethys th {
	background: #81C5FF;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
table.tethys td {
	background: #D8E6F3;
}
table.tethys tr:hover td {
	background: #AFCDE7;
}
table.tethys td:first-child {
	padding: 5px;
	text-align: center;
	width: 60px;
}
table.tethys td:nth-child(2) {
	font-weight: bold;
	padding: 5px 12px;
	text-align: left;
}
table.tethys td:nth-child(n+3) {
	text-align: center;
}
table.tethys tr:first-child th:first-child {
	border-top-left-radius: 10px;
}
table.tethys tr:first-child th:last-child {
	border-right: 0;
	border-top-right-radius: 10px;
}
table.tethys tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
table.tethys tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}
table.tethys tr td:last-child {
	border-right: 0;
}
table.tethys tr:last-child td {
	border-bottom: 0;
}
/********************************* END of TETHYS */

/********************************* RHEA, DIONE, ATLAS */
div.rhea, div.dione, div.atlas {
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 20px 40px;
	text-align: left;
}
/*
	Отображение текстовых замечаний (или важных комментариев),
	на которые требуется обратить внимание пользователя.
*/
div.rhea {
	background-color: #FEEFB3;
	border-color: #9F6000;
	color: #9F6000;
}
/*
	Отображение одиночных информационных сообщений.
*/
div.dione {
	background-color: #BDE5F8;
	border-color: #00529B;
	color: #00529B;
}
/*
	Отображение ошибок или одиночных аварийных сообщений.
*/
div.atlas {
	background-color: #FFC8CA;
	border-color: #990066;
	color: #990066;
}
/********************************* END of RHEA, DIONE, ATLAS */

/********************************* TELESTO */
/*
	В разработке...
*/
div.telesto {
	text-align: center;
}
div.telesto input[type="submit"] {
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 13px;
	font-weight: bold;
	height: 30px;
	width: 180px;
}
/********************************* END of TELESTO */

/********************************* HELENE */
/*
	Внутреннее меню для навигации по однотипным, локально расположенным страницам.
*/
table.helene {
	border-spacing: 1px;
	border-width: 0;
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}
table.helene td {
    background: #A4FFB6;
    border-radius: 15px;
	border-width: 0;
	margin: 0;
	padding: 0;
}
table.helene td a {
    background: #A4FFB6;
    border-radius: 15px;
	border-width: 0;
	color: #006C15;
	display: block;
	font-family: inherit;
	font-size: inherit;
    font-weight: inherit;
	margin: 0;
	padding: 7px;
	text-decoration: none;
}
table.helene td a:hover {
	color: #FF7F50;
	text-decoration: none;
}
/********************************* END of HELENE */

/********************************* KARI */
/*
	Подзаголовок министатуса устройства.
*/
table.kari {
	border-spacing: 0;
	border-width: 0;
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 13px;
	margin: auto;
}
/********************************* END of KARI */

/********************************* HATI */
/*
	Ссылка для перехода на внутренний web-интерфейс устройства.
*/
div.hati {
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 18px;
	margin: 5px;
	padding: 0;
	text-align: center;
}
div.hati a {
	font-family: inherit;
	font-size: inherit;
    color: #185DA2;
}
div.hati table {
	font-family: inherit;
	font-size: 13px;
	margin: auto;
}
/********************************* END of HATI */

/********************************* PAN */
/*
	Контейнер для простого текста.
*/
div.pan {
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
}
/********************************* END of PAN */

/********************************* DAPHNIS */
/*
	Стиль для особенного выделения части текста внутри другого текста.
*/
span.daphnis {
	color: red;
	font-family: inherit;
	font-size: inherit;
}
/********************************* END of DAPHNIS */

/********************************* AEGIR */
/*
	Простая ссылка.
*/
a:link.aegir, a:visited.aegir, a:hover.aegir {
	color: #185DA2;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
}
a:link.aegir, a:visited.aegir {
	text-decoration: none;
}
a:hover.aegir {
	color: #FF7F50;
	text-decoration: none;
}
/********************************* END of AEGIR */

/********************************* GREIP */
/*
	Информационная невидимая двухколоночная таблица.
	Содержимое ячеек выровнено относительно центра симметрии.
*/
table.greip {
	border-spacing: 0;
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 13px;
	width: 100%;
}
table.greip td {
	border-width: 0;
	padding: 5px;
}
table.greip td:first-child {
	font-weight: bold;
	text-align: right;
	width: 50%;
}
table.greip td:last-child {
	text-align: left;
	width: 50%;
}
/********************************* END of GREIP */

/********************************* IAPETUS */
/*
	Отображение разворачиваемой/сворачиваемой таблицы сообщений.
	На 2017-04-19 используется только в двух местах:
		1. Главная страница маломощных передатчиков => таблица сообщений
		2. Главная страница СДК => таблица системных сообщений СДК
*/
table.iapetus {
	/*border-radius: 10px;*/
	border-spacing: 0;
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 13px;
	width: 100%;
}
table.iapetus th, table.iapetus td {
	border-color: white;
	border-style: solid;
	border-width: 0 1px 1px 0;
}
table.iapetus th {
	background: #81C5FF;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
table.iapetus td {
	background: #D8E6F3;
}
table.iapetus tr:hover td {
	background: #AFCDE7;
}
table.iapetus td:nth-child(1) {
	padding: 5px;
	text-align: center;
	width: 60px;
}
table.iapetus td:nth-child(2) {
	font-weight: bold;
	padding: 5px 12px;
	text-align: left;
}
table.iapetus td:nth-child(3) {
	padding: 5px;
	text-align: center;
	width: 60px;
}
table.iapetus tr:first-child th:first-child {
	/*border-top-left-radius: 10px;*/
}
table.iapetus tr:first-child th:last-child {
	border-right: 0;
	/*border-top-right-radius: 10px;*/
}
table.iapetus tbody:last-child tr:last-child td:first-child {
	/*border-bottom-left-radius: 10px;*/
}
table.iapetus tbody:last-child tr:last-child td:last-child {
	/*border-bottom-right-radius: 10px;*/
}
table.iapetus tr td:last-child {
	border-right: 0;
}
table.iapetus tbody:last-child tr:last-child td {
	border-bottom: 0;
}
/********************************* END of IAPETUS */

/********************************* JANUS */
/*
	Отображение статус-таблицы.
*/
table.janus {
	border-radius: 10px;
	border-spacing: 0;
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 13px;
	width: 100%;
}
table.janus th, table.janus td {
	border-color: white;
	border-style: solid;
	border-width: 0 1px 1px 0;
}
table.janus th {
	background: #81C5FF;
	font-weight: bold;
	padding: 10px 5px;
	text-align: center;
}
table.janus td {
	background: #D8E6F3;
}
table.janus td:nth-child(odd) {
	padding: 4px;
	text-align: center;
}
table.janus td:nth-child(even) {
	font-weight: bold;
	padding: 5px 11px;
	text-align: left;
}
table.janus tr:hover td {
	background: #AFCDE7;
}
table.janus tr:first-child th:first-child {
	border-top-left-radius: 10px;
}
table.janus tr:first-child th:last-child {
	border-right: 0;
	border-top-right-radius: 10px;
}
table.janus tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
table.janus tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}
table.janus tr td:last-child {
	border-right: 0;
}
table.janus tr:last-child td {
	border-bottom: 0;
}
/********************************* END of JANUS */

/********************************* PALLENE, METHONE, ANTHE, FENRIR */
/*
	Отображение фильтров журнала.
*/
span.pallene, span.methone, span.anthe {
	border-color: black;
	border-radius: 12px;
	border-style: dashed;
	border-width: 1px;
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 12px;
	padding: 4px 8px;
}

span.pallene {
	background-color: #81C864;
}

span.methone {
	background-color: #FFFC00;
}

span.anthe {
	background-color: #FF6666;
}

input[type="submit"].fenrir {
	font: bold 12px verdana, sans-serif;
	height: 26px;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 150px;
}
/********************************* END of PALLENE, METHONE, ANTHE, FENRIR */

/********************************* HYPERION */
/*
	Отображение журнала событий.
*/
table.hyperion {
	border-radius: 10px;
	border-spacing: 0;
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 12px;
	width: 100%;
}
table.hyperion th,
table.hyperion td {
	border-color: white;
	border-style: solid;
	border-width: 0 1px 1px 0;
}
table.hyperion th {
	background: #81C5FF;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
table.hyperion td {
	background: #D8E6F3;
	padding: 4px 8px;
}
table.hyperion tr:hover td,
table.hyperion tr:hover td.odd,
table.hyperion tr:hover td.even {
	background: #54C7C8;
}
table.hyperion tr:hover td.other {
	background: black;
}
table.hyperion td:nth-child(1) {
	text-align: center;
	width: 125px;
}
table.hyperion td.i:nth-child(1) {
	background-color: #81C864;
}
table.hyperion td.w:nth-child(1) {
	background-color: #FFFC00;
}
table.hyperion td.f:nth-child(1) {
	background-color: #FF6666;
}
table.hyperion td:nth-child(2) {
	text-align: left;
}
table.hyperion td:nth-child(3) {
	text-align: center;
	width: 150px;
	word-wrap: normal;
}
table.hyperion td.odd:nth-child(n+2) {
	background: #D8E6F3;
}
table.hyperion td.even:nth-child(n+2) {
	background: #A4DCDA;
}
table.hyperion td.other:nth-child(n+2) {
	background: #959595;
	color: white;
}
table.hyperion tr:first-child th:first-child {
	border-top-left-radius: 10px;
}
table.hyperion tr:first-child th:last-child {
	border-right: 0;
	border-top-right-radius: 10px;
}
table.hyperion tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
table.hyperion tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}
table.hyperion tr td:last-child {
	border-right: 0;
}
table.hyperion tr:last-child td {
	border-bottom: 0;
}
/********************************* END of HYPERION */

/********************************* PHOEBE */
/*
	Отображение особой таблицы,
	где столбцы 1,2,3 выровнены по левому краю, а столбцы 4,5 выровнены по центру.
	Разная ширина у каждого столбца.
*/
table.phoebe {
	border-radius: 10px;
	border-spacing: 0;
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 13px;
	width: 100%;
}
table.phoebe th,
table.phoebe td {
	border-color: white;
	border-style: solid;
	border-width: 0 1px 1px 0;
}
table.phoebe th {
	background: #81C5FF;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
table.phoebe td {
	background: #D8E6F3;
}
table.phoebe tr:hover td {
	background: #AFCDE7;
}
table.phoebe td:nth-child(1),
table.phoebe td:nth-child(2),
table.phoebe td:nth-child(3) {
	padding: 6px 11px;
	text-align: left;
}
table.phoebe td:nth-child(4),
table.phoebe td:nth-child(5) {
	padding: 6px;
	text-align: center;
}
table.phoebe tr:first-child th:first-child {
	border-top-left-radius: 10px;
}
table.phoebe tr:first-child th:last-child {
	border-right: 0;
	border-top-right-radius: 10px;
}
table.phoebe tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
table.phoebe tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}
table.phoebe tr td:last-child {
	border-right: 0;
}
table.phoebe tr:last-child td {
	border-bottom: 0;
}
/********************************* END of PHOEBE */

/********************************* BEBHIONN */
/*
	Отображение таблицы статусов.
*/
table.bebhionn {
	border-radius: 10px;
	border-spacing: 0;
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 13px;
	width: 100%;
}
table.bebhionn th, table.bebhionn td {
	border-color: white;
	border-style: solid;
	border-width: 0 1px 1px 0;
}
table.bebhionn th {
	background: #81C5FF;
	font-weight: bold;
	padding: 10px 5px;
	text-align: center;
}
table.bebhionn td {
	background: #D8E6F3;
}
table.bebhionn td:nth-child(1),
table.bebhionn td:nth-child(n+3) {
	padding: 4px;
	text-align: center;
}
table.bebhionn td:nth-child(2) {
	padding: 5px 11px;
	text-align: left;
}
table.bebhionn tr:hover td {
	background: #AFCDE7;
}
table.bebhionn tr:first-child th:first-child {
	border-top-left-radius: 10px;
}
table.bebhionn tr:first-child th:last-child {
	border-right: 0;
	border-top-right-radius: 10px;
}
table.bebhionn tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
table.bebhionn tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}
table.bebhionn tr td:last-child {
	border-right: 0;
}
table.bebhionn tr:last-child td {
	border-bottom: 0;
}
table.bebhionn select {
	font-family: inherit;
	font-size: 12px;
	padding: 0;
}
table.bebhionn select:focus {
	outline: none;
}
/********************************* END of BEBHIONN */

/********************************* TETHYS-DSL */
/*
	Отображение таблиц сообщений.
*/
table.tethys_dsl {
	border-radius: 10px;
	border-spacing: 0;
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 13px;
	width: 100%;
}
table.tethys_dsl th, table.tethys_dsl td {
	border-color: white;
	border-style: solid;
	border-width: 0 1px 1px 0;
}
table.tethys_dsl th {
	background: #81C5FF;
	font-weight: bold;
	padding: 10px 5px;
	text-align: center;
}
table.tethys_dsl td {
	background: #D8E6F3;
}
table.tethys_dsl tr:hover td {
	background: #AFCDE7;
}
table.tethys_dsl td:nth-child(1) {
	padding: 4px;
	text-align: center;
	width: 8%;
}
table.tethys_dsl td:nth-child(2) {
	padding: 5px 11px;
	text-align: left;
}
table.tethys_dsl tr:first-child th:first-child {
	border-top-left-radius: 10px;
}
table.tethys_dsl tr:first-child th:last-child {
	border-right: 0;
	border-top-right-radius: 10px;
}
table.tethys_dsl tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
table.tethys_dsl tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}
table.tethys_dsl tr td:last-child {
	border-right: 0;
}
table.tethys_dsl tr:last-child td {
	border-bottom: 0;
}
/********************************* END of TETHYS-DSL */

/********************************* CALYPSO */
/*
	Отображение сводной таблицы с ключевой информацией по агенту.
*/
table.calypso {
	border-radius: 10px;
	border-spacing: 0;
	font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
	font-size: 13px;
	width: 100%;
}
table.calypso th, table.calypso td {
	border-color: white;
	border-style: solid;
	border-width: 0 1px 1px 0;
}
table.calypso th {
	background: rgb(129,197,255);
	background: radial-gradient(circle, rgba(129,197,255,1) 34%, rgba(51,79,103,1) 100%);
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
table.calypso td {
	background: #D8E6F3;
	padding: 6px 11px;
}
table.calypso tr:hover td {
	background: #AFCDE7;
}
table.calypso td:nth-child(1) {
	font-weight: bold;
	text-align: left;
}
table.calypso td:nth-child(2) {
	text-align: left;
}
table.calypso tr:first-child th:first-child {
	border-top-left-radius: 10px;
}
table.calypso tr:first-child th:last-child {
	border-right: 0;
	border-top-right-radius: 10px;
}
table.calypso tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
table.calypso tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}
table.calypso tr td:last-child {
	border-right: 0;
}
table.calypso tr:last-child td {
	border-bottom: 0;
}
/********************************* END of CALYPSO */